.Order{
    width: 100%;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.IngredientTag{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 4px;
    margin: 0 8px;
    text-transform: capitalize;
}